# General
.DS_Store
.env
.env*
!.env.example

# Python
__pycache__/
*.py[cod]
*.class
/.venv/
/bin/
/lib/
/lib64/
lib64
/include/
pyvenv.cfg
.pytest_cache/
.uv/

# Build
dist/
build/
*.egg-info/

# Local
.idea/
.vscode/
.python-version

# Project Specific
/config/
